{% extends 'base.html' %}
{% block content %}
<div class="container border border-2 border-secondary  bg-secondary shadow w-25 mt-5 p-5 mx-auto text-center">
<h2>ADDITION</h2>
        <form method="post">
            {% csrf_token %}
  <div class="mb-4 mt-4">
<!--    <label for="exampleInputEmail1" class="form-label">Email address</label>-->
    <input type="number" class="form-control" name="n1">
<!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
  </div>
  <div class="mb-4">
<!--    <label for="exampleInputPassword1" class="form-label">Password</label>-->
    <input type="number" class="form-control" name="n2">
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>
    {% if result %}
    <h1>sum is{{result}}</h1>
    {% endif %}
</div>
{% endblock %}
